<tr class="pagos-empty bg-light">
    <td colspan="7" class="text-center text-muted py-4 ps-5">
        <i class="fas fa-money-bill-wave me-2"></i>Este contrato no tiene pagos registrados
    </td>
</tr>
